@font-face {
  font-family: "Lato regular";
  src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato light";
  src: url("assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato Bold";
  src: url("assets/fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato Black";
  src: url("assets/fonts/Lato-Black.ttf");
}

*{
  margin: 0;
  list-style: none;
}

.wrapper{
  width: 940px;
  margin: 0 auto;
}

.visibility-hidden{
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
}

/* header */

.header{
  min-height: 89px;
  width: 1020px;
  background-color: #2d303a;
  margin: 0 auto;
  border-bottom: 6px solid #323746;
}

.container{
  display: flex;
  height: 89px;
  justify-content: space-between;
}

/* logo */

.logo{
  font-family: 'Lato Bold', 'Arial', sans-serif;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: -0.5px;
  margin-top: 32px;
}

.logo:hover{
  color:#fb8983;
  transition: color 0.2s linear;
}

.logo:hover .logo__star_colored{
  color: #fff;
  transition: color 0.2s linear;
}

.logo__star_colored{
  color: #fb8983;
}

.logo:active{
  color:#f06c64;
}

/* navigation */

.navigation{
  display: flex;
  padding: 0;
  margin-top: 39px;
}

.navigation li{
  position: relative;
  margin-left: 31px;
}

.navigation li:not(:first-child)::before{
  position: absolute;
  content: "";
  left: -16.5px;
  top: 54%;
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #494e62;
}

.navigation__link{
  font-family: 'Lato Bold', 'Arial', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: -0.3px;
}

.navigation__link:hover{
  color: #fb8983;
  padding-bottom: 3px;
  border-bottom: 2px solid #fb8983;
  transition: color .2s linear, border-bottom .2s linear, padding-bottom .2s linear;
}

.navigation__link:active{
  color: #f06c64;
  border-bottom:none;
}

/* slider */

.slider{
  width: 1020px;
  min-height: 594px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  margin: 0 auto;
}

.slider .wrapper{
  position: relative;
}


/* icons */
.slider__icons{
  display: flex;
  position: absolute;
  top: 273px;
  left: 0px;
  right: -2px;
  justify-content: space-between;
  box-sizing: border-box;
}

.arrow{
  font-size: 43px;
  color: #ca4549;
}

.arrow:hover{
  color: #fff;
  opacity: .5;
  cursor: pointer;
  transition:0.3s color linear;
}

/* iphones */

.slider__iphones{
  margin-left: 72px;
  padding-top: 53px;
}

.iphone{
  vertical-align: top;
}

.horizontal-iphone{
  margin-left: 69px;
  margin-top: 121px;
}

/* services */

.services{
  font-family: 'Lato regular' ,'Arial', sans-serif;
  width: 1020px;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding-top: 60px;
}

.services__title{
  font-family: 'Lato Black' ,'Arial', sans-serif;
  font-size: 30px;
  color: #666d89;
  margin-bottom: 18px;
}

.services__desc{
  font-family: 'Lato light' ,'Arial', sans-serif;
  font-size: 18px;
  line-height: 30.5px;
  color: #767e9e;
  text-align: justify;
  margin-bottom: 47px;
}

/* layout-3-columns */

.layout-3-columns{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -20px;
}

/* service */
.service{
  display: flex;
  width: 300px;
  margin-left: 20px;
  margin-bottom: 33px;
}

.service_img{
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.service-container{
  position: relative;
  top: -2px;
  width: 220px;
  height: 90px;
  overflow: hidden;
}

.service__title{
  font-family: 'Lato Black', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  margin-bottom: 9.5px;
}

.service__desc{
  font-size: 12px;
  line-height: 21.5px;
  color: #767e9e;
  text-align: justify;
}