@font-face {
  font-family: "Lato regular";
  src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato light";
  src: url("assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato Bold";
  src: url("assets/fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato Black";
  src: url("assets/fonts/Lato-Black.ttf");
}

html{
  scroll-behavior: smooth;
  font-size: 10px;
}

*{
  margin: 0;
  list-style: none;
}

ul{
  padding: 0;
}

.wrapper{
  padding: 0 40px;
  width: 100%;
  box-sizing: border-box;
}

.center{
  width: 1020px;
  margin: 0 auto;
}

/* header */

.header{
  position: fixed;
  background-color: #2d303a;
  z-index: 5;
  border-bottom: 6px solid #323746;
  width: inherit;
}

.header-container{
  display: flex;
  height: 89px;
  justify-content: space-between;
}

/* logo */

.hamburger{
  display: none;
}

.logo{
  position: absolute;
  font-family: 'Lato Bold', 'Arial', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: -0.05rem;
  top: 32px;
  cursor: pointer;
  user-select : none;
  z-index: 100;
}

.logo__star_colored{
  color: #fb8983;
}

/* navigation */

.header__navigation{
  margin-left: auto;
}

.navigation{
  display: flex;
  padding: 0;
  padding-top: 39px;
}

.navigation li{
  position: relative;
  margin-left: 31px;
  user-select : none
}

.navigation li:not(:first-child)::before{
  position: absolute;
  content: "";
  left: -16.5px;
  top: 54%;
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #494e62;
}

.navigation__link{
  font-family: 'Lato Bold', 'Arial', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: -0.03rem;
  transition: color .2s linear;
}

.navigation__link_active{
  color: #f06c64;
  border-bottom:none;
}

.navigation-overlay{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
}

.hamburger{
  display: none;
  position: relative;
  top: 26px;
  left: 20px;
  width: 25px;
  height: 20px;
  transition: all .3s linear;
  z-index: 100;
}

.hamburger__line{
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2.4px;
  background-color: #fff;
  border-radius: 5px;
}

.hamburger::before,
.hamburger::after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  height: 2.4px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.hamburger::before{
  top: 0;
}

.hamburger::after{
  bottom: 0;
}

/* slider */

.slider{
  display: flex;
  overflow: hidden;
  position: relative;
  height: 600px;
  padding-top: 95px;
}

/* slider-buttons */

.slider__buttons{
  display: flex;
  position: absolute;
  top: 367px;
  left: 41px;
  right: 39px;
  justify-content: space-between;
  box-sizing: border-box;
}

.arrow{
  font-size: 4.3rem;
  color: white;
  opacity: 0.4;
  cursor: pointer;
  z-index: 4;
}

.arrow:hover{
  opacity: .7;
  transition: 0.3s color linear;
}

.arrow:active{
  opacity: .3;
}

/* iphones */

.slide{
  position: absolute;
  display: none;
  width: 100%;
  background-color: #f06c64;
  animation: .5s linear;
}

.active,
.next{
  display: flex;
}

.slider__slide-1{
  padding-bottom: 56px;
  border-bottom: 6px solid #ea676b;
  z-index: 2;
}

.slider__slide-2{
  position: relative;
  background-color: #648BF0;;
}

.slider__slide-2 img:first-child{
  margin: 0 auto;
}

.slider__slide-2::after{
  position: absolute;
  content: "";
  bottom: -6px;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: #648BF0;
}

.iphone{
  position: relative;
  user-select : none;
}

.vertical-iphone{
  margin-top: 53px;
  margin-left: 112px;
}

.horizontal-iphone{
  margin-top: 174px;
  margin-left: 73px;
}

.horizontal-iphone_black-screen,
.vertical-iphone_black-screen,
.vertical-blue-iphone_black-screen{
  opacity: 0;
  position: absolute;
  background-color: #000;
  transition: opacity .3s linear;
}

.vertical-iphone img:nth-child(2),
.horizontal-iphone img:nth-child(2){
  display: none;
}

.vertical-iphone_black-screen{
  top: 64.5px;
  left: 14px;
  width: 188.5px;
  height: 334px;
}

.horizontal-iphone_black-screen{
  top: 14px;
  left: 60px;
  width: 334px;
  height: 188.5px;
}

.vertical-blue-iphone_black-screen{
  top: 112px;
  left: 48.8%;
  transform: translateX(-50%);
  width: 203px;
  height: 359px;
}

.iphone__btn{
  position: absolute;
  cursor: pointer;
  width: 41px;
  height: 41px;
}

.iphone__btn:hover{
  transform: scale(1.1);
}

.iphone__btn:active{
  transform: scale(1);
}

.vertical-iphone_btn{
  bottom: 37px;
  left: 86px;
}

.horizontal-iphone_btn{
  top: 86px;
  left: 8px;
}

.vertical-blue-iphone_btn{
  bottom: 75px;
  left: 476px;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

/* services */

.services{
  font-family: 'Lato regular' ,'Arial', sans-serif;
  background-color: #f2f2f2;
  border-bottom: 6px solid #fff;
  padding-top: 59px;
  padding-bottom: 28px;
  box-sizing: border-box;
}

.services__title{
  font-family: 'Lato Black' ,'Arial', sans-serif;
  font-size: 3rem;
  color: #666d89;
  margin-bottom: 18px;
}

.services__desc{
  font-family: 'Lato light' ,'Arial', sans-serif;
  font-size: 1.8rem;
  line-height: 3.05rem;
  color: #767e9e;
  text-align: justify;
  margin-bottom: 47px;
}

/* services__wrapper */

.services__wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -20px;
}

/* service */
.service{
  display: flex;
  width: 300px;
  margin-left: 20px;
  margin-bottom: 33px;
}

.service__img{
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.service-container{
  position: relative;
  top: -2px;
  width: 220px;
  height: 90px;
  overflow: hidden;
}

.service__title{
  font-family: 'Lato Black', 'Arial', sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #666d89;
  margin-bottom: 10.5px;
}

.service__desc{
  font-size: 1.2rem;
  line-height: 2.15rem;
  color: #767e9e;
  text-align: justify;
}

/* portfolio */

.portfolio{
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  box-sizing: border-box;
  padding-top: 61px;
  padding-bottom: 46.5px;
}

.portfolio__title{
  font-family: 'Lato Black' ,'Arial', sans-serif;
  font-size: 3rem;
  line-height: 3.2rem;
  color: #666d89;
  letter-spacing: -0.02rem;
  margin-bottom: 19.5px;
}

.portfolio__description{
  font-family: 'Lato light' ,'Arial', sans-serif;
  font-size: 1.8rem;
  line-height: 3.05rem;
  color: #767e9e;
  text-align: justify;
  margin-bottom: 11px;
}

/* portfolio tags */

.tags{
  display: flex;
}

.portfolio__tags{
  margin-left: 1px;
  margin-bottom: 19px;
}

.tag{
  font-family: 'Lato regular', 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  white-space: nowrap;
  color: #767e9e;
  border: 1px solid #767e9e;
  border-radius: 4px;
  padding: 2px 6.3px 2.5px 6.3px;
  transition: .3s all linear;
  user-select : none;
}

.portfolio__tag{
  margin-right: 10px;
}

.portfolio__tag:hover{
  color: #fff;
  border:1px solid #fff;
  cursor: pointer;
}

.portfolio__tag:active{
  opacity: .5;
}

.portfolio__tag_active{
  outline: 5px solid  #F06C64;
}

.tag_selected{
  color: #fff;
  border:1px solid #fff;
}

.portfolio__tag:nth-child(2){
  padding-right: 6px;
}

.portfolio__tag:nth-child(3){
  padding-left: 5px;
  padding-right: 5.9px;
}

.portfolio__tag:nth-child(4){
  padding-left: 5.5px;
  padding-right: 5px;
}

/* portfolio images */

.portfolio__images{
  display: flex;
  flex-wrap: wrap;
  margin-left: -19px;
}

.portfolio__images img{
  width: 220px;
  height: 187px;
  margin-left: 19.7px;
  margin-bottom: 20px;
  cursor: pointer;
  user-select : none
}

.portfolio__images img:nth-child(n+13) {
  display: none;
}

/* about us */

.about-us{
  background-color: #f2f2f2;
  padding-top: 61.3px;
  padding-bottom: 67px;
  border-bottom: 6px solid #fff;
  box-sizing: border-box;
}

.about-us__title{
  font-family: 'Lato Black' ,'Arial', sans-serif;
  font-size: 3rem;
  line-height: 3.2rem;
  color: #666d89;
  letter-spacing: -0.02rem;
  margin-bottom: 20px;
}

.about-us__description{
  font-family: 'Lato light' ,'Arial', sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #767e9e;
  text-align: justify;
  margin-bottom: 45px;
}

/* employees */

.employees{
  display: flex;
  flex-wrap: wrap;
}

.about-us__employees{
  margin-left: -19px;
}

.employee{
  width: 300px;
}

.about-us__employee{
  margin-left: 19px;
}

.employee:nth-child(3){
  margin-left: 21px ;
}

.employee__photo{
  margin-bottom: 11.8px;
}

.employee__name{
  font-family: 'Lato Black', 'Arial', sans-serif;
  font-size: 1.9rem;
  line-height: 2.4rem;
  color: #666d89;
  white-space: nowrap;
  letter-spacing: -0.07rem;
  overflow: hidden;
  margin-left: -1px;
  margin-bottom: 7.5px;
}

.employee:nth-child(2) .employee__name{
  margin-left: 0;
  word-spacing: -0.4px;
}

.employee:nth-child(3) .employee__name{
  word-spacing: 1px;
}

.employee__desc{
  font-family: 'Lato regular', 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 2.1rem;
  color: #767e9e;
  text-align: justify;
  margin-bottom: 24px;
}

.employee:nth-child(1) .employee__desc{
  margin-left: -0.5px;
  text-align: unset;
  letter-spacing: -0.006rem;
}

.employee__desc_resized{
  word-spacing: 0.5px;
}

/* socials */

.socials{
  display: flex;
}

.employee__socials{
  margin-left: 1px;
}

.social-icon{
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #666d89;
  border-radius: 50%;
  user-select : none;
}

.employee__icon{
  margin-right: 8px;
}

.social-icon:hover{
  opacity: .7;
  cursor: pointer;
}

.social-icon:active{
  opacity: .5;
  cursor: pointer;
}

.social-icon img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.employee:nth-child(3) .employee__socials{
  margin-left: 0;
}

/* quote */

.quote{
  background-color: #f06c64;
  padding-top: 61.5px;
  height: 654px;
  border-bottom: 6px solid #ea676b;
  box-sizing: border-box;
}

.quote__title{
  font-family: 'Lato Black' ,'Arial', sans-serif;
  font-size: 2.95rem;
  line-height: 3.2rem;
  color: #f0d8d9;
  letter-spacing: 0.01rem;
  margin-bottom: 19.3px;
}

.quote__description{
  font-family: 'Lato light' ,'Arial', sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #f0d8d9;
  text-align: justify;
  margin-bottom: 44px;
}

.layout-2-columns{
  display: flex;
}

/* form */

.form{
  display: flex;
  flex-direction: column;
}

.form-wrapper{
  min-width: 619px;
  margin-right: 21px;
}

.form input[type=text]:focus,
.form textarea:focus{
  background-color: #b64742;
}

.form__name,
.form__email,
.form__subject,
.form__project{
  height: 38px;
  font-family: 'Lato regular' ,'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #f0d8d9;
  background:#d6564f;
  border-radius: 5px;
  border:none;
  outline: none;
  margin-bottom: 16px;
  padding: 0 0 0 14.5px;
}

.form__project{
  height: 192px;
  resize: none;
  padding-top: 10px;
  margin-bottom: 14px;
}

.form__name::placeholder,
.form__email::placeholder,
.form__subject::placeholder,
.form__project::placeholder{
  color: #f48c8f;
}

.button{
  width: 135px;
  height: 38px;
  font-family: 'Lato Bold', 'Arial', sans-serif;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  color: #886A30;
  background-color: #FBC65F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition:background-color .2s linear;
}

.form__submit:hover{
  background-color: #ffce6b;
}

.form__submit:active{
  background-color: #f6bc47;
}

/* overlay */

.form__overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
  visibility: hidden;
  cursor: pointer;
}

/* pop-up */
.pop-up{
  display: flex;
  flex-direction: column;
  font-family: 'Lato regular', 'Arial', sans-serif;
  background-color: #d6564f;
  padding: 20px;
  width: 60%;
  color: #f2f2f2;
  border-radius: 10px;
  z-index: 1001;
  visibility: hidden;
  max-height: 600px;
}

.form__pop-up{
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.pop-up__title{
  align-self: center;
  font-size: 3rem;
  line-height: 3.6rem;
  margin-bottom: 10px;
}

.pop-up__subject{
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 10px;
}

.pop-up__project{
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 20px;
}

.pop-up__button{
  width: 30%;
  align-self: center;
}

/* contact info */

.contact-info__title{
  font-family: 'Lato Black', 'Arial', sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #f0d8d9;
  letter-spacing: -0.01rem;
  margin-bottom: 10px;
}

.contact-info__description,
.contact-info__address,
.contact-info__phone,
.contact-info__email{
  font-family: 'Lato regular', 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 2.15rem;
  color: #f0d8d9;
  letter-spacing: -0.01rem;
  text-align: justify;
}

.contact-info__description{
  margin-bottom: 21.5px;
}

.contact-info__description_size{
  line-height: 24.5px;
  letter-spacing: -0.01rem;
  word-spacing: 0.6px;
}

/* contacts */

.contact-info__contacts{
  padding-left: 22.5px;
}

.contact-info__address,
.contact-info__phone,
.contact-info__email{
  position: relative;
  letter-spacing: 0;
}

.contact-info__address img,
.contact-info__phone img,
.contact-info__email img{
  position: absolute;
  top: 5px;
  left: -19.5px;
}

.contact-info__phone img{
  top: 5px;
  left: -21.5px;
}

.contact-info__email img{
  top: 8.5px;
  left: -22.5px;
}

.contact-info__phone a,
.contact-info__email a{
  color:#f0d8d9;
  text-decoration: none;
}

.contact-info__phone a:hover,
.contact-info__email a:hover{
  text-decoration: underline;
}

.contact-info__phone a:active,
.contact-info__email a:active{
  opacity: 0.7;
}

/* footer */

.footer{
  background: #2d303a;
}

.footer__container{
  display: flex;
  justify-content: space-between;
  height: 76px;
}

.footer__copyright{
  font-family: 'Lato regular', 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #666d89;
  margin-top: 29.5px;
  margin-left: 2px;
  letter-spacing: -0.02rem;
}

.point{
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background-color: #494e62;
}

.footer__point{
  margin-left: 1.5px;
  margin-right: 2.5px;
}

/* socials */

.socials{
  display: flex;
}

.footer__socials{
  margin-top: 22px;
}

.social-icon{
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.footer__icon{
  margin-right: 8px;
}

.social-icon:hover{
  opacity: .7;
  cursor: pointer;
}

.social-icon:active{
  opacity: .5;
  cursor: pointer;
}

.social-icon img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.footer__icon:last-child{
  margin-right: 0;
}

/* Desktop (1020px) */

@media screen and (max-width: 1020px){

  .center{
    width: 100%;
  }

  .header{
    left: 0;
    right: 0;
    width: 100%;
  }

  /* slider */

  .slider{
    left: 0;
    right: 0;
    height: 452px;
  }

  .slider__buttons{
    top: 302px;
    left: 29px;
    right: 26px;
  }

  .slider__slide-1{
    justify-content: center;
    padding-bottom: 17px;
  }

  .arrow:hover{
    opacity: .4;
    transition: none
  }

  /* iphones */

  .vertical-iphone{
    margin-top: 40px;
    margin-left: 0;
  }

  .horizontal-iphone{
    margin-top: 132px;
    margin-left: 54px;
  }

  .vertical-iphone img:first-child,
  .horizontal-iphone img:first-child{
    display: none;
  }

  .vertical-iphone img:nth-child(2),
  .horizontal-iphone img:nth-child(2){
    display: block;
  }

  .vertical-iphone_black-screen{
    top: 50px;
    left: 11px;
    width: 141px;
    height: 251px;
  }

  .horizontal-iphone_black-screen{
    top: 11px;
    left: 45px;
    width: 251px;
    height: 141.5px;
  }

  .iphone__btn{
    width: 31px;
    height: 31px;
  }

  .vertical-iphone_btn{
    bottom: 50px;
    left: 65px;
  }

  .horizontal-iphone_btn{
    top: 66px;
    left: 6px;
  }

  .slider__slide-2 img:first-child{
    width: 768px;
    height: 452px;
  }

  .vertical-blue-iphone_black-screen{
    top: 85px;
    left: 49%;
    width: 152px;
    height: 270px;
  }

  .iphone__btn:hover,
  .iphone__btn:active{
    transform: none;
  }

  .slider__slide-2 .vertical-blue-iphone_btn{
    bottom: 55px;
    left: 49%;
    transform: translateX(-50%);
  }

  .services{
    padding-top: 39px;
    padding-bottom: 17px;
  }

  .services__desc{
    margin-bottom: 39px;
  }

  .services__wrapper{
    justify-content: space-around;
    margin-left: -14px;
  }

  .service{
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 53px;
  }

  /* portfolio */

  .portfolio{
    padding-bottom: 49px;
  }

  .portfolio__tags{
    margin-bottom: 29px;
  }

  .portfolio__description{
    letter-spacing: 0.5px;
  }

  .portfolio__images{
    margin-left: -20px;
    justify-content: space-around;
  }

  .portfolio__images img{
    width: 216px;
    height: 183px;
  }

  /* about-us */
  .about-us{
    padding-top: 54px;
    padding-bottom: 69px;
  }

  .about-us__employees {
    margin-left: 0;
    justify-content: space-between;
  }

  .about-us__employee{
    margin-left: 0;
  }

  .about-us__description{
    margin-bottom: 38px;
  }

  .employee{
    width: 32%;
  }

  .employee:nth-child(3){
    margin-left: 0 ;
  }

  .employee__photo {
    width: 100%;
    margin-bottom: 7px;
  }

  .employee__name{
    margin-bottom: 0;
    margin-left: 0;
  }

  .employee__desc{
    margin-bottom: 12px;
  }

  /* quote */

  .quote{
    height: 631px;
    padding-top: 56px;
  }

  .quote__title{
    letter-spacing: 0.05rem;
  }

  .quote__description{
    margin-bottom: 25px;
  }

  .form-wrapper{
    min-width: 64%;
    margin-right: 4.3%;
  }

  .contact-info__title {
    margin-bottom: 4px;
  }

  .contact-info__description {
    margin-bottom: 9px;
  }

  .form__name,
  .form__email,
  .form__subject,
  .form__project {
    padding: 0px 0 0 6.5px;
    margin-bottom: 12px;
  }

  .form__project{
    height: 151px;
    margin-bottom: 17px;
    padding-top: 8px;
  }

  /* footer */

  .footer__copyright{
    display: none;
  }

  .footer__container{
    justify-content: center;
  }
}

@media screen and (max-width: 767px){

  .wrapper{
    padding: 0 30px;
  }

  .logo{
    font-size: 1.96rem;
    line-height: 2.4rem;
    top: 39%;
    left: 51.5%;
    transform: translateX(-50%);
    transition: all .3s linear;
    margin: 0;
  }

  .header-container{
    height: 65px;
    align-items: center;
    justify-content: space-around;
  }

  .header__navigation{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
  }

  .navigation{
    display: none;
    position: absolute;
    top: 0;
    flex-direction: column;
    padding-top: 217px;
    padding-left: 71px;
    width: 278px;
    height: 100vh;
    background-color: #2D303A;
    box-sizing: border-box;
    z-index: 1;
  }

  .display-toggle{
    display: flex;
  }

  .logo-to-left{
    left:117px;
  }

  .navigation li{
    margin-left: 0;
  }

  .navigation li::before{
    display: none;
  }

  .navigation__link{
    font-size: 2.4rem;
    line-height: 5.8rem;
    letter-spacing: -0.1rem;
  }

  .hamburger{
    display: block;
  }

  /* slider */

  .slider{
    height: 221px;
    padding-top: 71px;
  }

  .slider__buttons{
    top: 54%;
    left: 2%;
    right: 2%;
  }

  .slider__slide-2 img:first-child {
    width: 375px;
    height: 221px;
  }

  .vertical-iphone{
    margin-top: 19.5px;
  }

  .horizontal-iphone{
    margin-top: 65px;
    margin-left: 28px;
  }

  .vertical-iphone img:nth-child(2){
    width: 88px;
    height: 189px;
  }

  .horizontal-iphone img:nth-child(2){
    width: 177px;
    height: 98px;
  }

  .iphone__btn{
    width: 15px;
    height: 15px;
  }

  .vertical-iphone_btn {
    bottom: 24px;
    left: 31px;
  }
  .horizontal-iphone_btn {
    top: 32px;
    left: 3px;
  }

  .vertical-iphone_black-screen {
    top: 24px;
    left: 5px;
    width: 69px;
    height: 123px;
  }

  .horizontal-iphone_black-screen {
    top: 5px;
    left: 22px;
    width: 123px;
    height: 70px;
  }

  .slider__slide-2 .vertical-blue-iphone_btn {
    bottom: 28px;
    left: 48.8%;
  }

  .vertical-blue-iphone_black-screen {
    top: 41px;
    left: 48.8%;
    width: 75px;
    height: 133px;
  }

  .services {
    padding-top: 25px;
    padding-bottom: 21px;
  }

  .services__desc {
    text-align: left;
    letter-spacing: 0.02rem;
    margin-bottom: 31px;
  }

  .services__wrapper {
    margin-left: 8px;
  }

  .service{
    margin-bottom: 29px;
  }
  .service:last-child{
    margin-bottom: 0;
  }

  /* portfolio */

  .portfolio {
    padding-top: 44px;
    padding-bottom: 18px;
  }

  .portfolio__description{
    margin-bottom: 16px;
  }

  .portfolio__tags {
    margin-bottom: 24.5px;
  }

  .portfolio__images {
    margin-left: -5%;
  }

  .portfolio__images img:nth-child(n+9) {
    display: none;
  }

  .portfolio__images img {
    width: 45%;
    height: 34%;
    margin-left: 4.3%;
    margin-bottom: 5%;
  }

  /* about-us */

  .about-us {
    padding-top: 34px;
    padding-bottom: 6px;
  }

  .about-us__description{
    text-align: left;
    letter-spacing: 0.02rem;
    margin-bottom: 23px;
  }

  .employee {
    width: 100%;
  }

  .employee__photo {
    margin-bottom: 13px;
  }

  .about-us__employee{
    margin-bottom: 34px;
  }

  /* quote */

  .quote {
    height: auto;
    padding-top: 47px;
    padding-bottom: 32px;
  }

  .quote__description{
    letter-spacing: 0.02rem;
    text-align: left;
    margin-bottom: 23px;
  }

  .layout-2-columns{
    flex-direction: column;
  }

  .form-wrapper {
    min-width: 100%;
    margin-right: 0;
  }

  /* .form__name,
  .form__email,
  .form__subject,
  .form__project {
    padding: 0px 0 0 6.5px;
  }

  .form__project{
    height: 151px;
    margin-bottom: 14px;
    padding-top: 8px;
  } */

  .form__submit{
    width: auto;
    height: 50px;
  }

  .form__submit{
    margin-bottom: 31px;
  }

  .contact-info__description,
  .contact-info__address,
  .contact-info__phone,
  .contact-info__email{
    letter-spacing: 0;
  }

  .contact-info__description{
    margin-bottom: 12px;
  }

  .contact-info__address,
  .contact-info__phone,
  .contact-info__email{
    line-height: 2.5rem;
  }

}